work/
__pycache__/
/dependencies/VexiiRiscv.bundle
/dependencies/musl-1.2.5.tar.gz
/dependencies/rvls.bundle
/source/sdlpal/codepage.h
/source/sdlpal/fight.c
/source/sdlpal/fontglyph.h
/source/sdlpal/fontglyph_cn.h
/source/sdlpal/fontglyph_jp.h
/source/sdlpal/fontglyph_tw.h
/source/sdlpal/libmad/rq_table.dat
/source/sdlpal/liboggvorbis/src/books/coupled/res_books_51.h
/source/sdlpal/liboggvorbis/src/books/coupled/res_books_stereo.h
/source/sdlpal/liboggvorbis/src/books/uncoupled/res_books_uncoupled.h
/source/sdlpal/liboggvorbis/src/window.c
/source/sdlpal/libopusfile/include/opusfile.h
/source/sdlpal/libopusfile/src/http.c
/source/sdlpal/libopusfile/src/opusfile.c
/source/sdlpal/libretro/sdl-libretro/libretro.h
/source/sdlpal/overlay.c
/source/sdlpal/stb_image.h
